/* Custom CSS */

/* Imports */
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i|Source+Code+Pro:300|Montserrat:300'); */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,600,600i|Source+Code+Pro:300');

/* sticky footer - https://css-tricks.com/couple-takes-sticky-footer/ */
html, body, #__nuxt, #__layout, #__layout>div {
    height: 100%;
}
#__layout>div {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
}

/* Design changes */
body {
	font-family: 'Open Sans'; /* Fallback on Bootstrap */
}
/* h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat';
} */
body, small, h2, h3, h4, h5, h6 {
	font-weight: 300;
}
h1, b, strong, .font-weight-bold {
	font-weight: 600;
}
tt, code, kbd, samp, pre {
	font-family: 'Source Code Pro';
	font-weight: 300;
}
/* body {
    background-color: steelblue;
} */

/* Functional changes */
body {
    padding-top: 75px; /* 60px for nav + 15px padding */
}

nav.navbar {
	background-color: white;
	border-bottom: 1px solid lightgrey;
	box-shadow: 0 0 7px dimgrey;
}
.nav-link {
    padding-left: .5rem;
}

footer {
	color: white;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-top: 1.2rem;
}
footer p {
	margin-bottom: 0;
}

/* Bootstrap's <blockquote>s are really hard to differentiate,
	add a bar to the left side */
blockquote.blockquote-fix {
	border-left: 4px solid lightgray;
	padding-left: 6px;
}
/* Bootstrap's carousel controls do not show up against a white image,
	add some shadow (note: already has opacity 0.5). */
.carousel-control-next, .carousel-control-prev/*, .carousel-caption*/ {
  top: initial;
  padding: 15px;
  width: initial;
	/*text-shadow:
		1px 1px 0px black,
		-1px 1px 0px black,
		1px -1px 0px black,
		-1px -1px 0px black;*/
}
.carousel-indicators {
  bottom: -5px;
}
.carousel-indicators li {
	box-shadow: 0 0 1px black;
	background-color: rgba(191,191,191,.5);
}
.carousel-caption {
	background-color: rgba(0,0,0,.4);
	/*color: rgba(255,255,255,.9);*/
  text-align: left;
  left: 0;
  right: 0;
  bottom: 0;
	padding: 5px 10px 15px 55px;
  min-height: 50px;
}
.carousel-caption p {
  margin-bottom: 0;
}
/* Some tweaks for card images */
.card-img-top-tweaks {
	width: auto;
	margin: 5% auto;
	max-height: 200px;
}
/* Allow buttons to wrap */
.btn {
	white-space: normal;
}

/* General tweaks for how things are typically used */
article>a.btn.d-block {
  margin-bottom: 0.6em;
}
article>a.btn.d-block:last-of-type {
  margin-bottom: 0;
}
.card-body>p:only-child {
  margin-bottom: 0;
}

/* About page custom */
#skills~.row .card-title {
  margin-bottom: 0;
}

/* Resume formatting */
p.indented {
	text-indent: 3em;
	line-height: 1.15;
}
p.text-center {
	text-align: center;
	text-indent: 0;
}
p.mini-header {
	text-indent: 0;
	font-weight: bold;
}
p.left-padding {
	padding-left: 3em;
	text-indent: 0;
}
