/* Custom CSS */

/* sticky footer - https://css-tricks.com/couple-takes-sticky-footer/ */
html, body, #__nuxt, #__layout, #__layout>div {
    height: 100%;
}
#__layout>div {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
}

/* Design changes */
body {
  font-family: 'Open Sans', sans-serif;
}
body, small, h2, h3, h4, h5, h6, .title:not(h1), .content h2, .content h3, .content h4, .content h5, .content h6 {
  font-weight: 300;
}
h1, b, strong, .font-weight-bold {
  font-weight: 600;
}
tt, code, kbd, samp, pre {
  font-family: 'Source Code Pro';
  font-weight: 300;
}

/* Functional changes */
body {
    padding-top: 3.25rem; /* from Bulma's .has-navbar-fixed-top  */
}
main {
  margin: 0 1em;
}
main>article, main>div {
  /* Based on typical page structure/use */
  padding-top: 1em;
}
main .swiper-container {
  margin: -15px -1em 0 -1em;

  .swiper-slide, .hero {
    min-height: 450px;

    &.hero[style] .hero-body {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
}
.swiper-pagination-bullet-active {
  border: 1px solid rgba(0,0,0,0.2);
}
.card .panel-block {
  border-left: none;
  border-right: none;

  &:last-child {
    border-bottom: none;
  }
}

.print-only {
  display: none;
}
@media print {
  .print-only {
    display: initial;
  }
  .print-hidden {
    display: none;
  }
}
/* Copied from Bootstrap under the MIT license */
/* https://getbootstrap.com/docs/4.3/utilities/embed/ */
.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;

  &::before {
    display: block;
    content: "";
  }

  &.embed-responsive-16by9::before {
    padding-top: 56.25%;
  }

  .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

/* Aesthetic changes */
nav.navbar {
  background-color: white;
  border-bottom: 1px solid lightgrey;
  box-shadow: 0 0 7px dimgrey;
}
.nav-link {
    padding-left: .5rem;
}

.footer {
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1.2rem;
  
  p {
    margin-bottom: 0;
  }
}

/* Resume formatting (currently unused) */
p.indented {
  text-indent: 3em;
  line-height: 1.15;
}
p.text-center {
  text-align: center;
  text-indent: 0;
}
p.mini-header {
  text-indent: 0;
  font-weight: bold;
}
p.left-padding {
  padding-left: 3em;
  text-indent: 0;
}
